body {
    background-color: #f0f5f7;
    font-family: 'Open Sans', sans-serif;
}
hr {
    margin: 0.5rem;
}
.noDisplay {
    display: none;
}
.green {
    color:#20bf6b !important;
}

.red {
    color:#e74c3c !important;
}
/* Top Info*/

.brandTitle {
    font-weight: 400 !important;
}

.subtitle {
    color: white;
    font-weight: 400;
    font-size: 1.25em;
}

.subtitleText {
    color :white;
    font-weight: 300;
}

/* Card */
.navCard {
    width: 95%;
    border-radius: 15px ;
    box-shadow: 0 0 20px #ccc;
    background-color: white;
}
.topCard {
    width: 95%;
    border-radius: 15px ;
    box-shadow: 0 0 20px #ccc;
    background-color:#8c7ae6;
}

.card {
    width: 100%;
    border-radius: 15px ;
    box-shadow: 0 0 20px #ccc;
    background-color:#3498db;
}

.dayStyle {
    color: white;
    font-size: 1.3em;
    font-weight: 400;
}

.boldedWords {
    color: white;
    font-weight: 400;
}

.regWords {
    color: white;
    font-weight: 300;
}


/* Top Navigation Bar */
.navbar-brand {
    font-size: 18px;
    font-weight: 600;
    margin-left: 1%;
}
.btn {
    background-color:#20bf6b;
    color:white;
    border-radius: 15px;
    border: 1px solid #20bf6b;
}

.btn:hover {
    color:#20bf6b;
    background-color: white;
}

.dropdown-item:hover {
    background-color: #20bf6b;
    color: white;
}
.largeBlock {
    background-color: #f0f5f7;
    width: 75%;
    height: 8px; 
    margin-top: 15px;
    margin-bottom: 15px;
    border-radius: 15px;

}

.fullBlock {
    background-color: #f0f5f7;
    width: 100%;
    height: 8px; 
    margin-top: 15px;
    margin-bottom: 15px;
    border-radius: 15px;

}

/* Vert Move Animation */
.vert-move {
    -webkit-animation: mover 1s infinite  alternate;
    animation: mover 1s infinite  alternate;
  }
  @-webkit-keyframes mover {
    0% { transform: translateY(0); }
    100% { transform: translateY(-10px); }
  }
  @keyframes mover {
    0% { transform: translateY(0); }
    100% { transform: translateY(-10px); }
  }


/* Media Queries */
/* Extra small devices (portrait phones, less than 576px) */
@media (max-width: 575.98px) {
    .containerPadding {
        padding: 3rem;
    }
    .topCard {
        width: 100%;
    }
    .navCard {
        width: 100%;
    }
}

/* // Small devices (landscape phones, 576px and up) */
@media (min-width: 576px) and (max-width: 767.98px) {
    .containerPadding {
        padding: 3rem;
    }
    .card {
        width: 46%;
        margin: 1%;
        display: inline-flex;
        height: 28rem;
    }
    
}

/* Medium devices (tablets, 768px and up) */
@media (min-width: 768px) and (max-width: 991.98px) {
    .containerPadding {
        padding: 3rem;
    }
    .card {
        width: 30%;
        margin: 1%;
        display: inline-flex;
        height: 31rem;
    }

}

/* Large devices (desktops, 992px and up) */
@media (min-width: 992px) and (max-width: 1199.98px) {
    .containerPadding {
        padding: 4rem;
    }
    .card {
        width: 30%;
        margin: 1%;
        display: inline-flex;
        height: 28rem;
    }
    
}

/* Extra large devices (large desktops, 1200px and up) */
@media (min-width: 1200px) and (max-width: 1439.98px) {
    .containerPadding {
        padding: 3rem;
    }
    .card {
        width: 22%;
        margin: 1%;
        display: inline-flex;
        height: 30rem;
    }
  
}

/* Extra large devices (large desktops, 1200px and up) */
@media (min-width: 1440px) {
    .containerPadding {
        padding-left: 3rem;
        padding-right: 3rem;
    }
    .card {
        width: 12.5%;
        margin: 0.5%;
        display: inline-flex;
        height: 35rem;
    }
   
}