/* Card Colours */
.d0 {
    background-color: #45aaf2;
}

.d1 {
    background-color: #fc5c65;
}

.d2 {
    background-color: #a55eea
}

.d3 {
    background-color: #45aaf2;
}

.d4 {
    background-color:#fc5c65;
}

.d5 {
    background-color: #a55eea
}

.d6 {
    background-color:#45aaf2;
}

/* Background Colour */
body {
    background-color: #ecf0f1;
}

/* Card Day */
h4, .special {
    color: #ecf0f1;
    font-size: 1.4em;
    font-family: 'Roboto', sans-serif;
    font-weight: 500;
}

/* Card Words */
p {
    color: #ecf0f1;
    font-family: 'Lato', sans-serif;
}

.bigger {
    font-size: 1.2em;
}

.boom {
    font-size: 1.2em;
    font-weight: 700;
}

/* Top Navigation Bar */
.btn {
    background-color:#20bf6b;
    color:#ecf0f1;
    font-family: 'Roboto', sans-serif;
    font-weight: 400;
}

.btn:hover {
    color:#ecf0f1;
}

.dropdown-item:hover {
    background-color: #20bf6b;
    color: #ecf0f1;
}

/* Location/Timezone and Weekly Summary Colour */
.xd-1 {
    color: #3c4346;
    font-family: 'Roboto', sans-serif;
    font-weight: 700;
    font-size: 1.3em;
}
.xd-2 {
    color: #636e72;
    font-family: 'Lato', sans-serif;
}

/* Title */
.title {
    color: #282d2e;
    font-size: 2.5rem;
    font-family: 'Roboto', sans-serif;
    font-weight: 700;
}



