/* Card Colours */
.d0 {
    background-color: #fc5c65;
    border-radius: 15px !important;
}

.d1 {
    background-color: #4b7bec;
    border-radius: 15px !important;

}

.d2 {
    background-color: #fc5c65;
    border-radius: 15px !important;

}

.d3 {
    background-color: #4b7bec;
    border-radius: 15px !important;

}

.d4 {
    background-color:#fc5c65;
    border-radius: 15px !important;

}

.d5 {
    background-color: #4b7bec;
    border-radius: 15px !important;

}

.d6 {
    background-color:#fc5c65;
    border-radius: 15px !important;

}

/* Background Colour */
body {
    background-color: #ecf0f1;
}

/* Card */
.card {
    width: 24rem;
}

/* Card Day */
h4, .special {
    color: #ecf0f1;
    font-size: 1.4em;
    font-family: 'Roboto', sans-serif;
    font-weight: 500;
}

/* Card Words */
p {
    color: #ecf0f1;
    font-family: 'Lato', sans-serif;
}

.bigger {
    font-size: 1.2em;
}

.boom {
    font-size: 1.2em;
    font-weight: 700;
}

/* Top Navigation Bar */
.btn {
    background-color:#20bf6b;
    color:white;
    font-family: 'Roboto', sans-serif;
    font-weight: 400;
    border-radius: 15px;
    border: 1px solid white;
}

.btn:hover {
    color:#20bf6b;
    background-color: white;
    border: 1px solid #20bf6b;

}

.dropdown-item:hover {
    background-color: #20bf6b;
    color: white;
}

.github {
    font-size: 17px;
    color: white;
}

.github:hover{
    color: #20bf6b;
}
/* Location/Timezone and Weekly Summary Colour */
.xd-1 {
    color: #3c4346;
    font-family: 'Roboto', sans-serif;
    font-weight: 700;
    font-size: 1.3em;
}
.xd-2 {
    color: #636e72;
    font-family: 'Lato', sans-serif;
}

/* Title */
.title {
    color: #282d2e;
    font-size: 2.5rem;
    font-family: 'Roboto', sans-serif;
    font-weight: 700;
    cursor:pointer;
}


/* Media Queries */
@media (min-width: 576px) {
.card-group {display: unset;}
.card {width: 24rem;}
}

@media (min-width: 768px) {
.card {width: 18rem; display: inline-block; vertical-align:top; margin: 10px 10px !important;}
}

@media (min-width: 992px) {
.card {width: 18rem; display: inline-block; vertical-align:top; margin: 10px 10px !important;}
}

@media (min-width: 1200px) {
.card {width: 14rem; display: inline-block; vertical-align:top; margin: 10px 10px !important;}

}
