body {
    background-color: #f1f2f6;
}


h4 {
    color:#3498db;
    font-size: 1.2rem;
}

h5 {
    color: #f39c12;
    font-size: 1rem;
}

.title {
    color: #2d3436;
    font-size: 2rem;
}

.btn {
    background-color:#3498db;
    color:#FFFFFF;
}

.btn:hover {
    color:#FFFFFF;
}

.dropdown-item:hover {
    background-color: #3498db;
    color: #FFFFFF;
}

.card {
    background-color: #FFFFFF;
}

p {
    color: #636e72;
}

.special {
    color: #3498db;
}

.title:hover, a:visited, a:link, a:active
{
    text-decoration: none;
}

.orange {
    color: #f39c12 
}


@media (min-width: 576px) {

}

@media (min-width: 768px) {

}

@media (min-width: 992px) {

}

@media (min-width: 1200px) {

}
